/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

main {
  width: 80%;
  display: flex;
  flex-direction: column;
}

#blackHeadband {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: auto;
  height: 59px;
  background: black;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.publish-changes-button {
  background: #ffffff;
  border-radius: 60px;
  padding: 11px 23px 11px 23px;
  font-family: "Work Sans";
  font-size: 14px;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

#navBar {
  display: flex;
  justify-content: space-between;
  margin: 38px 0 92px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

a {
  text-decoration: none;
  color: #000000;
}

.current-page {
  font-weight: 700;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  position: relative;
  gap: 72px;
}
#introduction figure {
  flex: 1;
  max-width: 474px;
}
#introduction img {
  display: block;
  margin: auto;
  height: 355px;
  width: 100%;
}

.positionEdit {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.positionEdit i {
  font-size: 15px;
}

#introduction article {
  flex: 1;
  /* margin-left: 72px; */
  max-width: 404px;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

#editMod {
  display: flex;
  gap: 30px;
}

.editModal {
  display: flex;
  gap: 30px;
}

/* ajout de la barre de filtres et des boutons "filtres" */
.filterBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60%;
  height: 37px;
  margin: auto;
  padding-bottom: 40px;
  gap: 10px;
}

.filterButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: "syne";
  font-size: 1em;
  font-weight: 700;
  color: #1d6154;
  background-color: #ffffff;
  border: 1px solid #1d6154;
  border-radius: 60px;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  cursor: pointer;
}

.filterButton:active {
  color: #ffffff;
  background: #1d6154;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  height: 36px;
  text-align: center;
  border-radius: 60px;
}

input[type="submit"]:hover {
  background-color: #0e2f28;
}

/*page de login  */

#login {
  width: 70%;
  max-height: 1080px;
  margin: 60px auto 50px auto;
}

#login > * {
  text-align: center;
}

.header-logout a:hover {
  font-weight: 600;
  color: black;
}

#logout:hover {
  cursor: pointer;
  color: #b1663c;
}

#login_form {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#login_form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  width: 50%;
}

#login_form label {
  margin: 2em 0 1em 0;
  width: 50%;
  text-align: left;
}

#login_form a {
  color: #3d3d3d;
  text-align: center;
  text-decoration: underline;
}

#login_button {
  width: 50%;
}

#error {
  color: red;
  font-size: 1em;
  font-weight: 700;
}

/* Pages des modales */

.modal,
.modal-move-button,
.modal-delete-button {
  display: flex;
  justify-content: center;
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.modal.active {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.modal-wrapper {
  position: relative;
  top: 950px;
  left: 50%;
  justify-content: center;
  width: 630px;
  max-height: 730px;
  padding: 60px 0px 48px 0px;
  background: #ffffff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
}

.modal-wrapper h2 {
  text-align: center;
  font-family: Work Sans;
  color: black;
  font-size: 26px;
  font-weight: 400;
  padding-bottom: 46px;
}

#modal-page-one,
#modal-page-two,
.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-page-one {
  position: relative;
}

.modal-move-button,
.modal-delete-button {
  height: 17px;
  width: 17px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  top: 6px;
  align-items: center;
}

.modal-move-button {
  font-size: 11.12px;
  left: 35px;
}

.modal-delete-button {
  font-size: 9px;
  right: 6px;
}

.confirm-delete,
.error-message {
  font-weight: bold !important;
  font-family: "Syne", sans-serif !important;
}

.confirm-delete {
  position: absolute;
  top: 30%;
  border-radius: 10px;
  background: black;
  padding: 5px;
  color: white;
  cursor: pointer;
  font-size: 10px;
  text-align: center;
}

#modal-page-two {
  width: 77%;
}

.container-img {
  height: 100%;
  width: 129px;
  position: absolute;
  top: 0;
}

.container-img > * {
  object-fit: cover;
}

#modal-page-one p {
  font-family: "Syne";
  color: #b1663c;
  cursor: pointer;
}

#modal-form,
.modal-form-field,
.modal-add-photo {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
}

#modal-form {
  align-items: center;
}

.modal-form-field {
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 46px;
}

.modal-form-field input,
.modal-form-field select {
  height: 50px;
  font-size: 1.2em;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
}
.modal-form-field select {
  color: #6c6c6c;
}
.modal-form-field label {
  margin: 2em 0 1em 0;
}
.modal-btn {
  width: 180px;
  font-weight: 700;
  font-family: "Syne";
  text-align: center;
  margin: 2em auto;
  border-radius: 60px;
  background-color: #1d6154;
  color: white;
}
.modal-add-photo {
  background: #e8f1f6;
  height: 169px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.modal-close,
.modal-prev {
  position: absolute;
  cursor: pointer;
}

.modal-close {
  top: 26px;
  right: 30px;
}

.modal-prev {
  top: 29px;
  left: 30px;
}

#modal-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 6px;
  grid-row-gap: 10px;
  border-bottom: 1px solid #b3b3b3;
  padding-bottom: 46px;
}

.modal-add-photo .modal-btn {
  width: 173px !important ;
  color: #306685;
  background: #cbd6dc;
  margin: 19px 0px 7px 0px !important;
}

.modal-add-photo p {
  font-size: 10px;
}

.error-message {
  color: darkred !important;

  font-size: 16px !important;
  text-decoration: none !important;
}
.modal-btn,
#modal-btn-submit {
  padding: 10px 0px !important;
  width: 237px !important;
  cursor: pointer !important;
  border: none !important;
}

.modal-btn {
  margin: 38px 0px 23px 0px !important;
}

#modal-btn-submit {
  background: #a7a7a7;
  margin: 38px 0px 7px 0px !important;
}

#modal-gallery img {
  height: 104px;
  width: 78px;
}

#modal-gallery .work {
  position: relative;
}

footer {
  width: 100%;
  /* padding-right: 90px; */
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
